.profile__info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    max-width: 336px;
}
@media screen and (max-width: 690px)
{
    .profile__info{
        display: grid;
        grid-template-columns: 235px 37px;
        grid-template-rows: 26px 14px;
        column-gap: 10px;
        row-gap: 14px;
        margin: auto;
        margin-top: 26px;
        max-width: 282px;
    }
    
}